// ----------------footer
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
   }
  .logo_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }