//------------------projet
.container_projet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  .title__projets {
    width: 100%;
  }

  .list__projets {
    padding: 1px 0;
    width: auto;
    .projet {
      display: flex;
      flex-direction: column-reverse;
      padding: 1px 0;
      align-items: center;

      .projet__descriptif {
        display: flex;
        gap: 14px;
        padding: 20px;
        // width: 50%;
        flex-direction: column;
        justify-content: space-evenly;

        .tag {
          width: 32px;
          height: 32px;
          margin: 5px;
        }
      }
      .projet__imag {
        padding: 20px 20px 0 20px;
        // width: 50%;
      }
      .projet__imag img {
        width: 100%;
      }
    }
  }
}
.liens {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  .github-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: border-color 0.3s;
  }

  .github-button:hover {
    border-color: #555;
  }

  .github-button span {
    margin-right: 8px; /* Ajout d'une marge à droite du texte */
  }

  .github-button img {
    width: 20px;
    height: 20px;
    margin-left: 8px; /* Ajout d'une marge à gauche de l'image */
  }

  .github-button .light-mode {
    color: white;
    background-color: #1a1a1a;
  }
}
@media (min-width: 769px) {
  .container_projet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 0 20px;

    .title__projets {
      height: 60px;
      line-height: 60px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: calc(55% + 180px);
      width: calc(62% + 183px);
    }
    .list__projets {
      width: calc(62% + 183px);

      .projet {
        display: flex;
        flex-direction: row;
        padding: 1px 0;
        align-items: center;
        .projet__descriptif {
          display: flex;
          gap: 14px;
          padding: 20px;
          width: 50%;
          flex-direction: column;
          justify-content: space-evenly;
        }
        .projet__imag {
          padding: 20px;
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container_projet {
    .title__projets {
      width: calc(62% + 183px);
    }
    .list__projets {
      width: calc(62% + 183px);
    }
  }
}

@media (min-width: 1024px){
  .container_projet {
    .title__projets {
      width: calc(56% + 183px);
    }
    .list__projets {
      width: calc(56% + 183px);
    }
  }

}